In [3]:
import pandas as pd

# Cargar el DataFrame desde un CSV
df_csv = pd.read_csv('original.csv', sep=";")


# Generar el DataFrame desde el código (ejemplo)
data = {
    'id': [1, 2, 3, 4, 5],
    'nombre': ['a', 'b', 'c', 'd', 'e'],
    "finalizado": [1,1,1,1,0]
}
df_code = pd.DataFrame(data)

In [4]:
df_csv

   id nombre  finalizado
0   1      a           1
1   2      b           1
2   3      c           1
3   4      d           1
4   5      e           1

In [5]:
# Asegurar que ambos DataFrames tienen el mismo índice
df_csv = df_csv.reset_index(drop=True)
df_code = df_code.reset_index(drop=True)

In [6]:
# Comparar las columnas específicas y encontrar las filas diferentes
diferencias = df_code[df_code['finalizado'] != df_csv['finalizado']]

# Mostrar las filas que tienen valores diferentes en 'columna_a_comparar'
print(diferencias)

   id nombre  finalizado
4   5      e           0